.scheduleDay {
  font-family: "Ysabeau Office", serif;
  font-size: var(--text-size-8);
  padding: var(--fh-4) 0 var(--fh-10) 0;

  .scheduleItem {
    background-color: var(--color-background-gradient1);
    margin-bottom: var(--fh-5);
    padding-left: var(--fw-5);
    padding-right: var(--fw-5);
    padding-top: var(--fh-5);
    padding-bottom: var(--fh-5);

    .title {
      margin-bottom: var(--fh-5);
      display: flex;
      flex-direction: row;

      .time {
        padding-right: var(--fw-5);
      }
    }
  }
}