/* color palette from <https://github.com/vuejs/theme> */
:root {
    --vt-c-white: rgb(255, 255, 255);
    --vt-c-white-soft: rgb(248, 248, 248);
    --vt-c-white-mute: rgb(242, 242, 242);

    --vt-c-black: rgb(24, 24, 24);
    --vt-c-black-soft: rgb(34, 34, 34);
    --vt-c-black-mute: rgb(40, 40, 40);

    --vt-c-indigo: rgb(44, 62, 80);

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project  #28A745*/
/*background-color: #dda8d3;*/
/*color: #333;*/
/*border: 1px solid #82538d;*/
/*}*/

/*header {*/
/*  background-color: rgba(196, 136, 166, 0.85);*/
/*  color: white;*/
/*  padding: 1.5px;*/
/*  text-align: center;*/
/*  border: 1px solid #82538d;*/
/*  border-radius: 0px;*/
:root {
    --color-background: #dda8d3;
    --color-background-hover: #fef0fd;

    --color-background-soft: var(--vt-c-white-soft);
    --color-background-mute: var(--vt-c-white-mute);

    --color-border: #82538d66;
    --color-border-hover: var(--vt-c-divider-light-1);

    --color-heading: var(--vt-c-text-light-1);
    /*--color-text: var(--vt-c-text-light-1);*/

    --section-gap: 160px;
    --q-primary: #007BFF;
    --color-text: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --q-primary: #007BFF;
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: rgba(196, 136, 166, 0.85);;
        --xcolor-text: var(rgb(255, 255, 255));
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


html, body {
    color: var(--color-text);
    background: var(--color-background);
    transition: color 0.5s,
    background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

