:root {
    --color-background-main: rgb(232, 232, 232);
    --color-background-hover: rgb(255, 255, 255);
    --color-background-selected: rgb(255, 255, 255);
    --color-background-gradient1: rgba(255, 255, 255, 1.0);
    --color-background-gradient2: rgba(255, 255, 255, 0.6);
    --color-background-gradient3: rgba(255, 255, 255, 0.4);
    --color-background-gradient4: rgba(255, 255, 255, 0.2);
    --color-border: rgba(0, 0, 0, 0.4);
    --color-text: rgba(0, 0, 0, 0.85);
    --color-text-light: rgba(0, 0, 0, 0.6);
    --color-text-lightest: rgba(0, 0, 0, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background-main: rgb(10, 10, 10);
        --color-background-hover: rgba(80, 80, 80, 0.6);
        --color-background-selected: rgb(109, 109, 109);
        --color-background-gradient1: rgb(40, 40, 40);
        --color-background-gradient2: rgba(40, 40, 40, 0.7);
        --color-background-gradient3: rgba(40, 40, 40, 0.4);
        --color-background-gradient4: rgba(40, 40, 40, 0.1);
        --color-border: rgba(255, 255, 255, 0.4);
        --color-text: rgba(255, 255, 255, 0.70);
        --color-text-light: rgba(255, 255, 255, 0.5);
        --color-text-lightest: rgba(255, 255, 255, 0.3);
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}


html, body {
    color: var(--color-text);
    background: var(--color-background-main);
    transition: color 0.5s,
    background-color 0.5s;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

