body {
  font-family: "Ysabeau Office", serif;
  background-color: var(--color-background-main);
  margin: 0;
  padding: 0;
}

a:hover {
  color: var(--color-link-hover);
}

a:visited {
  color: var(--color-link-visited);
}

a {
  color: var(--color-link);
  text-decoration: none;
}


.app {
  padding: var(--fh-6) var(--fw-6);
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.11;

  .phone-emulation {
    max-width: 600px;
    flex: 1;
    min-width: 0;
  }

  header {

    .title {
      display: flex;
      flex-direction: row;
      padding: var(--fh-3) 0;
      margin: 0 0 var(--fh-6) 0;
      background-color: var(--color-background-selected);

      .logo {
        width: 20%;
        align-self: center;
        padding-left: var(--fw-4);
        padding-right: var(--fw-4);
        padding-top: var(--fh-4);
        @media (max-width: 480px) {
          width: 30%;
        }
        @media (min-width: 1024px) {
          width: 25%;
        }
      }

      .name {
        align-content: center;
        padding-left: var(--fw-6);
        padding-right: var(--fw-2);
        padding-top: var(--fh-2);
        padding-bottom: var(--fh-2);
        font-size: var(--label-size-8);
        @media (min-width: 480px) and (max-width: 1024px) {
          padding-left: var(--fw-4);
        }
        @media (min-width: 1024px) {
          padding-left: var(--fw-2);
        }
      }
    }
  }

  .schedule {
    padding: var(--fh-4) 0 var(--fh-10) 0;
    font-size: var(--text-size-8);


    .table {

      .row {
        margin: 0 0 var(--fh-5) 0;

        .firstView:hover {
          background-color: var(--color-background-hover);
          cursor: pointer;
        }

        .firstView {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: var(--color-background-gradient1);

          .secondLine {
            display: flex;
            flex-direction: column;
            width: 80%;
            padding-left: var(--fw-5);
            padding-right: var(--fw-5);
            padding-top: var(--fh-5);
            padding-bottom: var(--fh-5);

            .firstLine {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;

              .time {
                width: fit-content;
                white-space: nowrap;
                font-weight: bold;
                //border: 1px solid var(--color-border);
                align-content: center;
              }

              .instructor {
                flex-grow: 1;
                padding-left: var(--fw-6);
                //border: 1px solid var(--color-border);
                align-content: center;
              }
            }

            .NameAndOptions {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              .name {
                padding-top: var(--fh-4);
                align-content: center;
                //border: 1px solid var(--color-border);
              }

              .addOption {
                padding-bottom: var(--fh-1);
                //border: 1px solid var(--color-border);
                align-content: center;
                color: var(--color-text-lightest);
              }
            }
          }

          .people {
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-7);
            opacity: 0.85;
            //border: 1px solid var(--color-border);

            .peopleIcon {

            }

            .infinity {

            }

            .count {

            }
          }

          .button {
            width: 10%;
            opacity: 0.5;
            align-self: center;
            color: var(--color-text-light);
            //border: 1px solid var(--color-border);
          }
        }

        .detailView {
          display: flex;
          flex-direction: column;

          .description {
            white-space: pre-wrap;
            padding: var(--fh-5) var(--fw-6);
            background-color: var(--color-background-gradient2);
            color: var(--color-text-light);
          }

          .partyAllTogether {
            color: var(--color-text-lightest);

            .partyLine:hover {
              background-color: var(--color-background-hover);
              cursor: pointer;
            }

            .partyLine {
              display: flex;
              flex-direction: row;
              background-color: var(--color-background-gradient3);

              .participantsTitle {
                padding: var(--fh-4) 0 var(--fh-4) var(--fw-5);
                width: 90%;
                align-content: center;
              }

              .partyListButton {
                width: 10%;
                opacity: 0.3;
                align-self: center;
                color: var(--color-border);
              }
            }

            .participantsList {
              padding: var(--fh-4) var(--fw-6);
              background-color: var(--color-background-gradient4);

            }
          }
        }
      }
    }
  }
}