body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-background);
  margin: 0;
  padding: 0;
}


.app {
  padding: var(--fh-5) var(--fw-7);
  display: flex;
  justify-content: center;
  align-items: center;

  .phone-emulation {
    max-width: 600px;
    flex: 1;
    min-width: 0;
  }

  header {
    .title {
      border: 1px solid var(--color-border);
      padding: var(--fh-3) var(--fw-3);
      margin: 0 0 var(--fw-6) 0;
      font-size: var(--label-size-8);
    }
  }

  .schedule {
    padding: var(--fh-3) 0;
    font-size: var(--text-size-6);


    .table {
      //padding: var(--fh-5) var(--fw-4);
      //border: 1px solid var(--color-border);


      .row:hover {
        background: var(--color-background-hover);
        cursor: pointer;
      }
      .row {
        margin: 0 0 var(--fw-3) 0;
        //padding: var(--fh-3) var(--fw-3);
        border: 1px solid var(--color-border);

        .naz {
          display: flex;

          .time {
            //font-size: var(--label-size-12);
            font-weight: bold;
            width: 14%;
            border: 1px solid var(--color-border);
            padding: var(--fh-3) var(--fw-3);
          }

          .name {
            width: 66%;
            border: 1px solid var(--color-border);
            padding: var(--fh-3) var(--fw-3);
          }
          .count {
            width: 10%;
            border: 1px solid var(--color-border);
            padding: var(--fh-3) var(--fw-3);
            text-align: center;
          }

          .button {
            width: 10%;
            border: 1px solid var(--color-border);
            padding: var(--fh-3) var(--fw-3);
            text-align: center;
          }
        }
        .heh {
          //background-color: white;
          color: var(--color-text);
        }
        .detail {
          border: 1px solid var(--color-border);
          padding: var(--fh-1) var(--fw-3);
        }
      }
    }
  }
}