body {
  font-family: "Ysabeau Office", serif;
  background-color: var(--color-background-main);
  margin: 0;
  padding: 0;
}


.app {
  padding: var(--fh-6) var(--fw-6);
  display: flex;
  justify-content: center;
  align-items: center;

  .phone-emulation {
    max-width: 600px;
    flex: 1;
    min-width: 0;
  }

  header {
    .title {
      width: fit-content;
      padding: var(--fh-3) var(--fw-4);
      margin: 0 0 var(--fw-6) 0;
      font-size: var(--label-size-8);
      background-color: var(--color-background-selected);
    }
  }

  .schedule {
    padding: var(--fh-4) 0 var(--fh-10) 0;
    font-size: var(--text-size-8);


    .table {

      .row {
        margin: 0 0 var(--fw-4) 0;

        .firstView:hover {
          background-color: var(--color-background-hover);
          cursor: pointer;
        }

        .firstView {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          background-color: var(--color-background-gradient1);

          .secondLine {
            display: flex;
            flex-direction: column;
            width: 80%;

            .firstLine {
              width: 100%;
              display: flex;
              flex-direction: row;
              padding: var(--fh-5) 0 0 var(--fh-4);

              .time {
                font-weight: bold;
              }

              .instructor {
                width: 60%;
                padding-left: var(--fh-5);
              }
            }

            .name {
              padding: var(--fh-4) 0 var(--fh-4) var(--fh-4)
            }

          }

          .people {
            width: 10%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: var(--text-size-7);
            opacity: 0.85;

            .peopleIcon {

            }

            .infinity {

            }

            .count {

            }
          }

          .button {
            width: 10%;
            opacity: 0.5;
            align-self: center;
            color: var(--color-border);
          }
        }

        .detailView {
          display: flex;
          flex-direction: column;

          .description {
            white-space: pre-wrap;
            padding: var(--fh-5) var(--fh-6);
            background-color: var(--color-background-gradient2);
            color: var(--color-text-light);
          }

          .partyAllTogether {
            color: var(--color-text-lightest);

            .partyLine:hover {
              background-color: var(--color-background-hover);
              cursor: pointer;
            }

            .partyLine {
              display: flex;
              flex-direction: row;
              background-color: var(--color-background-gradient3);

              .participantsTitle {
                padding: var(--fh-2) var(--fw-4);
                width: 90%;
                align-content: center;
              }

              .partyListButton {
                width: 10%;
                opacity: 0.3;
                align-self: center;
                color: var(--color-border);
              }
            }

            .participantsList {
              padding: var(--fh-4) var(--fw-6);
              background-color: var(--color-background-gradient4);

              a:hover {
                color: var(--color-link-hover);
              }

              a:visited {
                color: var(--color-link-visited);
              }

              a {
                color: var(--color-link);
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}