/* Общие стили */
body {
  font-family: "Segoe Print";
  margin: 10px;
  padding: 10px;
  background-color: #dda8d3;
  color: #333;
  border: 1px solid #82538d;
}

header {
  background-color: rgba(196, 136, 166, 0.85);
  color: white;
  padding: 1.5px;
  text-align: center;
  border: 1px solid #82538d;
  border-radius: 0px;
}

.spacer {
  padding: 20px;
}

/* Стили для таблицы расписания */
.schedule .table {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.schedule .row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
  background-color: rgba(196, 136, 166, 0.65);
  border: 1px solid #82538d;
  border-radius: 0px;
}

.schedule .naz {
   display: flex;
   gap: 10px;
}

.schedule .heh {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  background-color: rgba(196, 136, 166, 0.65);
  border: 1px solid #ffffff;
  border-radius: 0px;
}



/* Стили для блока статистики */
.statistics .stats {
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Стили для формы добавления */
.add-class form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-class label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add-class input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-class button {
  padding: 10px;
  background-color: #42b983;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-class button:hover {
  background-color: #3aa876;
}
